body{
    height: 2500px;
}


.image-logo img{
   height: 80px;
}

.nav-items{
    justify-content: flex-end;
}

nav li{
    margin-left: 15px;
}

.nav-control{
    position: absolute;
    height: 60px;
    left: 405px;
    top: 133px;
}

.form-input{
    width:300px;
}
.first-sec img{
    height: 150px;
    width: 250px;
}
.first-sec{
    margin-top: 80px ; 
}



.first-sec h4{
    font-size: 20px;
}


.meal-section{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);

}

.meal-namesDiv{
    border-radius: 8px;
    height: 200px;
    width:250px;
    margin: 20px;
    background-color: lightgray;
    box-shadow: 2px 2px 8px black;
   
}

.meal-namesDiv p{
    text-align: center;
    padding-top: 40px;
    font-weight: 600;
    font-size: 18px;
    padding-left: 5px;
    padding-right: 5px;
}

.meal-namesDiv button{
    margin-left: 70px;
    margin-top: 50px;
    font-weight: 600;
    color: black;
    border-radius: 5px;
}

.meal-items{
    margin-top: 30px;
    text-align: center;
    
}

.meal-items ul{
    display: inline;
    list-style: none;
} 

.meal-items li{
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 500;
}

.meal-items h3{
    background: linear-gradient(90deg, black, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
}

.meal-items button{
    margin-top: 20px;
    width: 120px;
}